* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #ff6fdbbc;
  font-weight: 1000;
}

body {
  align-items: center;
  font-family: cursor, monospace;
  background-color: #141e15;
  color: #fff;
  margin: 0;
  padding: 0;
}

#text {
  position: absolute;
  left: -1000px;
  resize: none;
  z-index: 10;
}

.terminal {
  width: 85%;
  margin: 50px auto;
  padding: 50px;
  padding-top: 30px;
  background-color: #141e15;
  border: 2px solid #cbc039;
  border-radius: 5px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.prompt_hit {
  margin-right: 5px;
  color: #a6ae3f;
}

.prompt_input {
  color: #ee4a9f;
  white-space: pre;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0 15px 0;
}

.output {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cursor {
  height: 17px;
  width: 2px;
  background-color: white;
  animation: blink 1.5s infinite;
}

p {
  gap: 15px;
  min-height: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: bisque;
}

.color1 {
  text-shadow: 0px 0px 5px rgb(255, 180, 83);
  color: #fea449;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  99% {
    opacity: 0;
  }
}
